{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %} -{{ site_name }} {% endblock %}

{% block content %}
    <div grid-container page>
    	<div class="callout success">
			<h3 clas="text-center">{% trans "Password Reset" %} <i class="fi-mail green-text"></i></h3>
	
			{% if user.is_authenticated %}
				{% include "account/snippets/already_logged_in.html" %}
			{% endif %}
			
			<p>{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes or check your spam folder.{% endblocktrans %}</p>
    	</div>
    </div>
{% endblock %}
