{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %} - {{ site_name }} {% endblock %}

{% block content %}
    <div class="grid-x align-center page">
    	<div class="cell form-card large-4 medium-5 small-10">
    		<h3 class="green-text">{% trans "Change Password" %}</h3>

			<form method="POST" action="{% url 'account_change_password' %}" class="password_change">
				{% csrf_token %}
				{{ form.as_p }}
				<button class="button float-center success small" type="submit" name="action">{% trans "Change Password" %}</button>
			</form>
    	</div>
    </div>
{% endblock %}
