{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %} - {{ site_name }} {% endblock %}

{% block content %}
	<div class="grid-x align-center page">
		<div class="form-card cell large-7 medium-10 small-10">
			<h3 class="text-center">{% trans "Password Reset" %} <i class="fi-refresh green-text"></i></h3>
			{% if user.is_authenticated %}
				{% include "account/snippets/already_logged_in.html" %}
			{% endif %}
			<p>{% trans "Enter your email to get password reset instructions." %}</p>

			<form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
				{% csrf_token %}
				{{ form }}
				<input class="button float-center" type="submit" value="{% trans 'Reset My Password' %}" />
			</form>
			<br>
			<p class="green-text">{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
		</div>
	</div>
   
{% endblock %}
