{% extends '_base.html' %}
{% load static %}
{% block content %}

<div class="grid-container page">
	<div class="grid-x grid-margin-x">
		<div class="cell large-3 medium-4 hide-for-small-only">
			<div class="categories-card side-bar">
				<h6>Categories<h6>
				<hr>
				{% if not categories %}
					<p>Meeh! No categories to show.</p>
				{% else %}
					<ul class="categories-menu menu vertical">
						{% for category in categories %}
							<li><a class="green-text" href="{{ category.get_absolute_url }}">{{ category.name }}</a></li>
						{% endfor %}							
					</ul>
				{% endif %}
				<br>
                <h6>Recommended Products</h6>
                <hr>
                {% if recommended %}
                    <div class="recommended">
                        {% for product in recommended %}
                            {% include 'includes/small_media_object.html' %}
                        {% endfor %}
                    </div>
                {% else %}
                    <p>Meeh! No products yet</p>
                {% endif %}
            </div>
		</div>
		<div class="cell large-9 medium-8">
			<h3 class="text-center">{{ category.name }}</h3>
			{% if not products %}
				<p class="text-center">Wooops! No product found for <span class="subheader">{{ category.name }}</span></p>
			{% else %}
				<div class="grid-x grid-margin-x small-up-2 medium-up-3 large-up-4" data-equalizer data-equalize-by-row="true">
					{% for product in products %}
						{% include 'includes/product_card.html' %}
					{% endfor %}
				</div>
				{% include 'includes/product_pagination.html' %}
			{% endif %}
		</div>
	</div>
</div>

{% endblock content %} 
