{% extends '_base.html' %}
{% load static %}
{% block content %}

<div class="grid-container page about">
    <h2 class="text-center">About Us</h2>
	<p class="text-center">
	Launched in 2019,zoohubmall.com was formed to redefine the ecommerce sector to enable
	easier and quicker way of doing business for the small suppliers to serve a lot of consumers .
	Our mission is to give vendors the necessary tools to reach a large audience for their products.
	Zoohubmall.com brings you hundreds of products over different categories serving thousands of
	customers daily and our help desk is always open at info@zoohubmall. As a platform we
	continue to develop services that will enable businesses and consumers to do business at ease
	</p>

</div>

{% endblock content %}
