{% extends '_base.html' %}
{% load static %}
{% block content %}

<div class="grid-container page">
    <h2 class="text-center">Terms & Conditions</h2>

	<h4 style="text-decoration: underline;" class="green-text">POSTING RULES</h4>

	<h5 class="green-text">Product Names, Attributes and Keywords</h5>
	<ol>
		<li>
		Product names must be consistent with the other product-related information, including
		product photos, product descriptions, etc. They must be as accurate, complete and
		concise as possible. Any Users may use product names, generic names and etc
		</li>
		<li>
		Product attributes must be consistent with the actual condition of the product, and
		accurately showing the ingredients, materials, sizes, brands, models, places of origin,
		etc
		</li>
		<li>
		Users may set 1-3 keywords that match the products to facilitate buyers’ searches
		</li>
	</ol>

	<h5 class="green-text">Product Description</h5>
	<ol>
		<li>
		Any brief and detailed descriptions of a product shall be based on the actual condition of
		the product. Such descriptions can introduce functions, characteristics, specific
		instructions for use, packaging information and accessories of the product in detail, and
		display pictures of products, product details and packaging as well as the design
		sketches, etc
		</li>
	</ol>

	<h5 class="green-text">Product Images and videos</h5>
	<ol>
		<li>
		Product images must be consistent with the text information and must accurately reflect
		the actual situation of the product. Unless otherwise specified, images & videos must be
		clear, complete, without smear or cover.
		</li>
		<li>
		Image specifications: the size of the image must not exceed 3MB; the image ratio must
		be between 1:1 and 1:1.3 and the resolution must be greater than 350px * 350px.
		Images that do not meet the specifications will not be uploaded to the product release
		interface
		</li>
	</ol>

	<h5 class="green-text">Payment and Delivery</h5>
	<ol>
		<li>
		Payment and delivery options must be consistent with the actual service capability of
		suppliers
		</li>
	</ol>

</div>


{% endblock content %}
