{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <title>{% block head_title %}{% endblock %}</title>
    {% block extra_head %}
    {% endblock %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/vendor/foundation.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/vendor/foundation-icons.css' %}">
    <link rel="stylesheet" type="application/font-sfnt" href="{% static 'css/vendor/foundation-icons.ttf' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/app.o.css' %}">
    <link rel="shortcut icon" type="image" href="{% static 'img/fav.jpg' %}">
  </head>
  <body class="auth-pages">
  	{% include 'includes/navbar.html' %}
  	
    {% block body %}
	
    {% if messages %}
    <div>
      <strong>Messages:</strong>
      <ul>
        {% for message in messages %}
        <li>{{message}}</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
    
    {% block content %}
    {% endblock %}
    {% endblock %}
    {% block extra_body %}
    {% endblock %}
    
    {% include 'includes/footer.html' %}
  </body>
  	<script src="{% static 'js/vendor/jquery.js' %}"></script>
    <script src="{% static 'js/vendor/foundation.min.js' %}"></script>
    <script src="{% static 'js/vendor/what-input.js' %}"></script>
    <script src="{% static 'js/ajax_csrf.js' %}"></script>
    <script src="{% static 'js/app.o.js' %}"></script>
</html>
